* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(239 239 239);
}

.abbr {
    cursor: help;
}

.main {
    margin-top: 80px;
}

/* ЗАГОЛОВКИ */
.h1 {
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    text-align: center;
    color: white;
    background-color: rgb(0, 91, 142);
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 1.8rem;
    line-height: 1.2rem;
    font-weight: 700;
}

.h2 {
    font-family: 'Roboto', sans-serif;
    max-width: 60%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 91, 142, .7);
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    padding: 0px 8px 0px 8px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2rem;
}

/* subheadline - это div. Не h3, потому что не нужна индексация. Не p, чтобы не путался с другими p */
.subheadline {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .h1 {
        font-size: 1.6rem;
        max-width: 100%;
    }

    .h2 {
        font-size: 1.4rem;
        max-width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .h1 {
        font-size: 1.4rem;
        max-width: 100%;
    }

    .h2 {
        font-size: 1.2rem;
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .h1 {
        font-size: 1.2rem;
        max-width: 100%;
    }

    .h2 {
        font-size: 1rem;
        max-width: 100%;
        width: 100%;
    }
}

/* CONTENT DIV */

.content {
    font-family: 'Roboto', sans-serif;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.6rem;
    background: #fff;
    overflow: hidden;
    padding: 1rem;
    text-align: left;
    min-height: 100%;
    font-size: 1.6rem;
    border: 1px solid;
    border-color: #efefef;
}

/* ОСНОВНОЙ ТЕКСТ */
.content p {
    padding: 12px;
}

/* ОСНОВНЫЕ ССЫЛКИ */
.content a, .footer a {
    color: rgba(0, 91, 142, .7);
    font-weight: 700;
}

.content a:hover, .footer a:hover {
    text-decoration: none;
    color: rgb(0, 91, 142);
}

.content a:active, .footer a:active {
    color: #0262d5;
    text-decoration: underline;
}

@media only screen and (max-width: 1080px) {
    .content {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .content {
        max-width: 95%;
        font-size: 1.3rem;
    }
}

/* СКРЫТЫЕ ССЫЛКИ НА СТРАНИЦЕ ПОРТФОЛИО, оптимизация под IE */
@media \0screen\,screen\9 {
    .content a.hidden {
        display: block;
    }
}

/* Последний DIV на странице портфолио не должен иметь паддинг снизу */
.cases:last-child {
    padding-bottom: 0;
}

/* MY PHOTO */

#myself {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    min-width: 10%;
    max-width: 15%;
    border: 3px solid #3f539a;
    overflow: hidden;
    cursor: pointer;
}

#myself:hover {
    border: 3px solid #fff;
    transition: .5s linear;
}

/* The Modal (background) */
.zoom {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    line-height: normal;
}

/* CSS для страниц: skills, experience*/

a.blocklink {
    display: block;
    margin-left: 10%;
}

.blocklink:before {
     content:'— ';
}

ul.list {
    list-style-type: none;
    margin-left: 32px;
}

ul.list li:before {
    content:'— ';
    margin-left: -26px;
}

ul.list li {
    margin-left: 12px;
}

.cases a.source {
    display: table-cell;
}

.cases a.source:before {
    content: url("data:image/svg+xml,%3Csvg width='2rem' height='2rem' viewBox='0 0 16 16' fill='rgb(255, 196, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    vertical-align: middle;
}

.cases a.source:hover:before {
    content: url("data:image/svg+xml,%3Csvg width='2rem' height='2rem' viewBox='0 0 16 16' fill='rgb(255, 196, 0, .7)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.content a.cert {
    display: block;
}

.cert {
    text-align: left;
    margin-top: 0.7rem;
}

.content a.cert {
    margin-left: 26px;
}

.content a.cert:before {
    content: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='2rem' viewBox='0 0 24 24' width='2rem' fill='rgb(255, 196, 0)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E%3C/svg%3E");
    vertical-align: middle;
    margin-left: -32px;
}

.content a.cert:hover:before {
    content: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='2rem' viewBox='0 0 24 24' width='2rem' fill='rgb(255, 196, 0, .7)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E%3C/svg%3E");
}


@media only screen and (max-width: 1390px) {
    #myself {
        max-width: 20%;
    }
}

@media only screen and (max-width: 1080px) {

    #myself {
        max-width: 25%;
    }
}

@media only screen and (max-width: 800px) {

    #myself {
        max-width: 30%;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal {
        width: 100%;
    }
}

@media only screen and (max-width: 670px) {

    #myself {
        max-width: 35%;
    }
}

@media only screen and (max-width: 480px) {
    #myself {
        max-width: 40%;
    }
}

@media only screen and (max-width: 400px) {
    #myself {
        max-width: 50%;
    }
}

/* PAGETOP BUTTON */

@media only screen and (max-width: 670px) {
    .pagetop {
        bottom: 3rem;
        right: 1rem;
        border-radius: 20px;
        padding: 0.4rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 600px) {
    .pagetop {
        display: none;
    }
}