/* CSS для страниц: skills, experience*/

a.blocklink {
    display: block;
    margin-left: 10%;
}

.blocklink:before {
     content:'— ';
}

ul.list {
    list-style-type: none;
    margin-left: 32px;
}

ul.list li:before {
    content:'— ';
    margin-left: -26px;
}

ul.list li {
    margin-left: 12px;
}

.explain {
    width: 75%;
}

.newjobflex {
    -webkit-display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
}

.newjob a.joblinks {
    color: #f7f7f7;
}

.newjob a.joblinks:hover {
    color: #f7f7f7;
}

.head {
    font-weight: 600;
    text-align: center;
}

#cloud {
    transition: 0.3s;
    height: 40vh;
}


.local:before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 28, 34)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.079 11.9l4.568-3.281a.719.719 0 000-1.238L9.079 4.1A.716.716 0 008 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z'/%3E%3C/svg%3E");
}


/* MEDIA ONLY BELOW */


@media only screen and (max-width: 1660px) {
    .stub {
        margin: 0;
    }
}

@media only screen and (max-width: 1080px) {
  
    ul.skills {
        line-height: 1.3em;
    }

    .panel .skills {
        margin-left: -20px;
        padding: 0;
    }

    ul.skills li {
        padding-left: 20px;
        margin-left: 0px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li {
        padding-left: 20px;
        font-size: 1.3em;
        line-height: 1.3em;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    .content .in-content-ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3C/svg%3E");
    }

    .in-content-ul ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg height='.8em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    .stub {
       display: none;
    }

}

@media only screen and (max-width: 800px) {

    .stub {
        float: left;
        position: fixed;
        right: 0;
        left: auto;
        top: 37px;
        bottom: auto;
        padding: 10px;
        margin-right: 0em;
        z-index: 1;
        width: 160px;
    }

    .stub:hover .pagenav {
        display: block;
        position: absolute;
        top: -3px;
        left: -163px;
        border: 3px solid #ff8000;
    }

    .stub .pagenav {
        border-bottom: none;
        border-top: 3px solid #ff8000;
    }

}

@media only screen and (max-width: 670px) {
    
    .stub {
        right: 0;
        left: auto;
        top: 0;
        bottom: auto;
    }

    .stub:hover .pagenav {
        display: block;
        position: absolute;
        top: 100%;
        left: -3px;
    }

}

@media only screen and (max-width: 480px) {

    .stub {
        display: none;
    }

    ul.skills li {
        padding-left: 20px;
        margin-left: 0px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li {
        padding-left: 20px;
        font-size: 0.8em;
        line-height: 1.3em;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

}

@media only screen and (max-width: 1660px) {
    .stub {
        margin: 0;
    }
}
