* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.accordion {
    background-color: #F3E0BE;
    color: #2A293E;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #F0EAD6;
}

.active,
.accordion:focus {
    background-color: #F0EAD6;
}

.accordion:after {
    content: '\002B';
    color: #2A293E;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

body {
    background: url(img/background.png) fixed;
}

.stub {
    background-color: #577284;
    float: right;
    position: fixed;
    right: 0;
    top: 55px;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    padding: 10px;
    border: 3px solid #ff8000;
    margin-right: 1em;
}

#stublink {
    color: #F3E0BE;
    text-decoration: none;
}

.stub:hover .pagenav,
#stublink:focus + .pagenav {
    display: block;
    position: absolute;
    top: 100%;
    left: -3px;
    width: calc(100% + 6px);
}

.stub:hover .pagenav,
.stub:focus-within .pagenav,
#stublink:focus + .pagenav {
    display: block;
    position: absolute;
    top: 100%;
    left: -3px;
    width: calc(100% + 6px);
}

.stub a:focus .pagenav {
    display: block;
    position: absolute;
    top: 100%;
    left: -3px;
    width: calc(100% + 6px);
    opacity: 1;
}

.pagenav {
    background-color: #577284;
    display: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    border: 3px solid #ff8000;
    border-top: none;
    padding-bottom: 10px;
}

.pagenav a {
    display: block;
    color: #F3E0BE;
    padding: 6px 0px 0px 8px;
}

.pagenav a:hover {
    box-shadow: inset 5px 0 0 0 #ff8000
}


td.two {
    width: 80%;
    padding-left;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009B77;
    overflow-x: hidden;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #009B77;
    font-family: "Open Sans Condensed", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #009B77;
    position: relative;
    display: none;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    border-bottom: #fff705 1px solid;
    font-weight: 500;
    display: none;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.4em;
    color: #fff;
    display: block;
    border-bottom: #fff705 1px solid;
}

.sidenav a.current,
.topnav a.current {
    background-color: #00664e;
}

.sidenav a.current:focus {
    background-color: #000000;
}

.topnav a.current:focus {
    background-color: #000000;
}

.sidenav a:first-child {
    border-top: #fff705 1px solid;
}

.sidenav a:hover:not(.current) {
    color: #f1f1f1;
    background-color: #00664e;
}

.topnav a:hover:not(.current) {
    color: #f1f1f1;
    background-color: #00664e;
}

.sidenav a:active {
    color: #fff;
    background-color: #004d3b;
}

.topnav a:active {
    color: #fff;
    background-color: #004d3b;
}

.sidenav a:focus:not(.current) {
    color: #f1f1f1;
    background-color: #00664e;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #0288d1;
    border-radius: 20px;
    margin-top: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-family: "Open Sans Condensed", sans-serif;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 1.2em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #fff;
    text-decoration: underline;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: none;
}

ul.breadcrumb li a:focus {
    background-color: #01314c;
    text-decoration: none;
}

.h1 {
    max-width: 65%;
    text-align: center;
    color: white;
    background-color: #01517d;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    font-family: "Open Sans Condensed", sans-serif;
}

#myself {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    min-width: 10%;
    max-width: 15%;
    border: 3px solid #3f539a;
    overflow: hidden;
    cursor: pointer;
}

#myself:hover {
    border: 3px solid #fff;
    transition: .5s linear;
}

.content {
    max-width: 65%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-family: 'Noto Serif', serif;
    background: rgba(78, 192, 253, .7);
    overflow: hidden;
    padding: 1em;
    text-align: left;
    min-height: 100%;
    font-size: 1.5em;
}

.content p {
    padding: 10px;
}

.content i {
    font-weight: 600;
    font-size: 1.1em
}

.content h3 {
    font-weight: 300;
}

.abbr {
    cursor: help;
}

.content a {
    color: #0262d5;
    font-weight: 600;
}

.content a:visited {
    color: #024597;
    text-decoration: none;
}

.content a:hover {
    text-decoration: none;
    color: #358ffd;
}

.content a:active {
    color: #0262d5;
    text-decoration: underline;
}

ul.breadcrumb li a:active {
    color: #fff;
    text-decoration: underline;
}

.headline {
    font-family: "Open Sans Condensed", sans-serif;
    max-width: 90%;
    text-align: center;
    color: #fff;
    background-color: #03a5fc;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.subheadline {
    font-style: italic;
    text-align: center;
    display: block;
}

ul.skills,
.subskills,
.in-content-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-position: inside;
}

.in-content-ol {
    margin: 0;
    padding-left: 20px;
    text-indent: 0;
    list-style-position: inside;
}

.in-content-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-position: inside;
}

ul.skills li {
    padding-left: 20px;
    margin-left: 0px;
    list-style-image: url("data:image/svg+xml,%3Csvg width='1.2em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

ul.skills li:hover {
    list-style-image: url("data:image/svg+xml,%3Csvg width='1.2em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

ul.skills li ul.subskills li {
    padding-left: 20px;
    font-size: 0.8em;
    line-height: 1.3em;
    list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

ul.skills li ul.subskills li:hover {
    list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.content .in-content-ul li {
    padding-left: 20px;
    list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3C/svg%3E");
}

.in-content-ul ul li {
    padding-left: 20px;
    list-style-image: url("data:image/svg+xml,%3Csvg height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.pagetop {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff4000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.4em;
    font-size: 1.3em;
    text-align: center;
}

.pagetop:hover {
    background-color: #ff8000;
    transition: .2s linear;
}

.pagetop:focus {
    background-color: #ff8000;
    transition: .2s linear;
}

.newjob {
    position: relative;
    text-indent: 0;
    padding: 0.5em;
}

.title {
    width: 25%;
    text-align: left;
}

.explain {
    width: 75%;
}

.newjobflex {
    -webkit-display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
}

.newjob a.joblinks {
    color: #f7f7f7;
}

.newjob a.joblinks:hover {
    color: #f7f7f7;
}

.head {
    font-weight: 600;
    text-align: center;
}

#cloud {
    transition: 0.3s;
    height: 40vh;
}

#pp,
#rdp,
#cloud,
#time,
#virus,
#LVM {
    opacity: 0.7;
}

#pp:hover,
#rdp:hover,
#cloud:hover,
#time:hover,
#virus:hover,
#LVM:hover {
    opacity: 1;
}

#pp,
#rdp,
#cloud,
#time,
#virus,
#LVM {
    border-radius: 5px;
}

/* The Modal (background) */
.zoom {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    line-height: normal;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.case-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.content .casedescription {
    font-size: 1.3em;
    line-height: normal;
    text-align: justify;
    text-indent: 0;
    margin: 0 auto;
    padding-bottom: 20px;
}

#nopadding {
    padding-bottom: 0;
}

#pp,
#rdp,
#virus,
#LVM {
    height: 40vh;
}

#time {
    height: 50vh;
}

.content a.cert {
    display: block;
    color: #343148;
}

.cert {
    text-align: left;
    margin-top: 0.7em;
}

.content a.cert:before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 64, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z'/%3E%3Ccircle cx='8' cy='4.5' r='1'/%3E%3C/svg%3E");
    vertical-align: middle;
}

.content a.cert:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 128, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z'/%3E%3Ccircle cx='8' cy='4.5' r='1'/%3E%3C/svg%3E");
}

.content a.cert:hover,
.content a.cert:visited:hover {
    color: #f7f7f7;
}

.content a.cert:visited,
.content a.cert:active,
.content a.cert:visited:active {
    color: #423c5d;
}

.content a.hidden {
    display: none;
    color: #343148;
}

.content a.hidden:before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 64, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    vertical-align: middle;
}

.content a.hidden:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 128, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.content a.hidden:hover,
.content a.hidden:visited:hover {
    color: #f7f7f7;
}

.content a.hidden:visited,
.content a.hidden:active,
.content a.hidden:visited:active {
    color: #423c5d;
}

.local:before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 16 16' fill='rgb(255, 28, 34)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.079 11.9l4.568-3.281a.719.719 0 000-1.238L9.079 4.1A.716.716 0 008 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z'/%3E%3C/svg%3E");
}

.hh:before {
    content: ' ';
    background-image: url(" https://i.hh.ru/favicons/310x310.png");
    background-repeat: no-repeat;
    background-size: contain;
    width="2em";
    height="2em";
    padding-right: 1.3em;
}

.soc {
    padding: 0.5em;
}

.fb:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(59, 89, 152)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5z'/%3E%3Cpath d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.in:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(14, 118, 168)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5z'/%3E%3Cpath d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.ig:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(216, 0, 90)' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='12' fill='white' /%3E%3Cpath d='M15.233 5.488c-.843-.038-1.097-.046-3.233-.046s-2.389.008-3.232.046c-2.17.099-3.181 1.127-3.279 3.279-.039.844-.048 1.097-.048 3.233s.009 2.389.047 3.233c.099 2.148 1.106 3.18 3.279 3.279.843.038 1.097.047 3.233.047 2.137 0 2.39-.008 3.233-.046 2.17-.099 3.18-1.129 3.279-3.279.038-.844.046-1.097.046-3.233s-.008-2.389-.046-3.232c-.099-2.153-1.111-3.182-3.279-3.281zm-3.233 10.62c-2.269 0-4.108-1.839-4.108-4.108 0-2.269 1.84-4.108 4.108-4.108s4.108 1.839 4.108 4.108c0 2.269-1.839 4.108-4.108 4.108zm4.271-7.418c-.53 0-.96-.43-.96-.96s.43-.96.96-.96.96.43.96.96-.43.96-.96.96zm-1.604 3.31c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667zm4.333-12h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm.952 15.298c-.132 2.909-1.751 4.521-4.653 4.654-.854.039-1.126.048-3.299.048s-2.444-.009-3.298-.048c-2.908-.133-4.52-1.748-4.654-4.654-.039-.853-.048-1.125-.048-3.298 0-2.172.009-2.445.048-3.298.134-2.908 1.748-4.521 4.654-4.653.854-.04 1.125-.049 3.298-.049s2.445.009 3.299.048c2.908.133 4.523 1.751 4.653 4.653.039.854.048 1.127.048 3.299 0 2.173-.009 2.445-.048 3.298z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.vk:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(76, 117, 163)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5z'/%3E%3Cpath d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm.25 16.996h-2.134c-1.205 0-1.409-.687-2.401-1.679-.897-.897-1.395-.209-1.374 1.068.006.339-.161.611-.566.611-1.264 0-3.08.178-4.918-1.806-1.883-2.033-3.857-6.111-3.857-6.513 0-.237.196-.344.524-.344h2.17c.574 0 .623.284.783.649.667 1.521 2.265 4.574 2.69 2.87.244-.978.344-3.245-.703-3.44-.594-.11.452-.746 1.968-.746.377 0 .786.041 1.205.137.769.179.771.523.761 1.026-.039 1.903-.269 3.184.233 3.507.479.31 1.739-1.717 2.403-3.281.183-.433.219-.722.734-.722h2.654c1.39 0-.182 1.997-1.383 3.557-.968 1.255-.916 1.28.209 2.324.803.744 1.75 1.76 1.75 2.336.002.272-.21.446-.748.446z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.yt:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(196, 48, 43)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816z'/%3E%3Cpath d='M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.em:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(212, 70, 56)' viewBox='0 0 24 24'%3E%3Crect y='3' width='24' height='18' fill='white'/%3E%3Cpath d='M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.wa:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(79, 206, 93)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12.036 5.339c-3.635 0-6.591 2.956-6.593 6.589-.001 1.483.434 2.594 1.164 3.756l-.666 2.432 2.494-.654c1.117.663 2.184 1.061 3.595 1.061 3.632 0 6.591-2.956 6.592-6.59.003-3.641-2.942-6.593-6.586-6.594zm3.876 9.423c-.165.463-.957.885-1.337.942-.341.051-.773.072-1.248-.078-.288-.091-.657-.213-1.129-.417-1.987-.858-3.285-2.859-3.384-2.991-.099-.132-.809-1.074-.809-2.049 0-.975.512-1.454.693-1.653.182-.2.396-.25.528-.25l.38.007c.122.006.285-.046.446.34.165.397.561 1.372.611 1.471.049.099.083.215.016.347-.066.132-.099.215-.198.33l-.297.347c-.099.099-.202.206-.087.404.116.198.513.847 1.102 1.372.757.675 1.395.884 1.593.983.198.099.314.083.429-.05.116-.132.495-.578.627-.777s.264-.165.446-.099 1.156.545 1.354.645c.198.099.33.149.38.231.049.085.049.482-.116.945zm3.088-14.762h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5z'/%3E%3Cpath d='M12.036 5.339c-3.635 0-6.591 2.956-6.593 6.589-.001 1.483.434 2.594 1.164 3.756l-.666 2.432 2.494-.654c1.117.663 2.184 1.061 3.595 1.061 3.632 0 6.591-2.956 6.592-6.59.003-3.641-2.942-6.593-6.586-6.594zm3.876 9.423c-.165.463-.957.885-1.337.942-.341.051-.773.072-1.248-.078-.288-.091-.657-.213-1.129-.417-1.987-.858-3.285-2.859-3.384-2.991-.099-.132-.809-1.074-.809-2.049 0-.975.512-1.454.693-1.653.182-.2.396-.25.528-.25l.38.007c.122.006.285-.046.446.34.165.397.561 1.372.611 1.471.049.099.083.215.016.347-.066.132-.099.215-.198.33l-.297.347c-.099.099-.202.206-.087.404.116.198.513.847 1.102 1.372.757.675 1.395.884 1.593.983.198.099.314.083.429-.05.116-.132.495-.578.627-.777s.264-.165.446-.099 1.156.545 1.354.645c.198.099.33.149.38.231.049.085.049.482-.116.945zm3.088-14.762h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-6.967 19.862c-1.327 0-2.634-.333-3.792-.965l-4.203 1.103 1.125-4.108c-.694-1.202-1.059-2.566-1.058-3.964.002-4.372 3.558-7.928 7.928-7.928 2.121.001 4.112.827 5.609 2.325s2.321 3.491 2.32 5.609c-.002 4.372-3.559 7.928-7.929 7.928z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.sk:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(0, 175, 240)' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M16.283 13.883c0 2.026-1.615 3.354-4.026 3.354-2.121 0-4.252-.965-4.242-2.627.003-.501.376-.961.872-.961 1.249 0 1.237 1.863 3.225 1.863 1.396 0 1.872-.764 1.872-1.296 0-1.924-6.03-.745-6.03-4.362 0-1.958 1.602-3.309 4.12-3.161 2.401.142 3.809 1.202 3.944 2.193.067.647-.361 1.151-1.105 1.151-1.086 0-1.196-1.454-3.067-1.454-.844 0-1.556.352-1.556 1.116 0 1.597 5.993.67 5.993 4.184zm7.717-8.883v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5z'/%3E%3Cpath d='M16.283 13.883c0 2.026-1.615 3.354-4.026 3.354-2.121 0-4.252-.965-4.242-2.627.003-.501.376-.961.872-.961 1.249 0 1.237 1.863 3.225 1.863 1.396 0 1.872-.764 1.872-1.296 0-1.924-6.03-.745-6.03-4.362 0-1.958 1.602-3.309 4.12-3.161 2.401.142 3.809 1.202 3.944 2.193.067.647-.361 1.151-1.105 1.151-1.086 0-1.196-1.454-3.067-1.454-.844 0-1.556.352-1.556 1.116 0 1.597 5.993.67 5.993 4.184zm7.717-8.883v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4.675 8.311c.904-5.177-3.61-9.608-8.702-8.653-3.881-2.374-8.335 2.151-5.956 6.02-.925 5.165 3.589 9.654 8.722 8.673 3.888 2.357 8.329-2.174 5.936-6.04z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.tg:before {
    content: url("data:image/svg+xml,%3Csvg width='2em' height='2em' viewBox='0 0 24 24' fill='rgb(0, 136, 204)' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cpath fill='white' d='M19,24l-14,0c-2.761,0 -5,-2.239 -5,-5l0,-14c0,-2.761 2.239,-5 5,-5l14,0c2.762,0 5,2.239 5,5l0,14c0,2.761 -2.238,5 -5,5Z'/%3E%3Cpath id='telegram-3' d='M19,24l-14,0c-2.761,0 -5,-2.239 -5,-5l0,-14c0,-2.761 2.239,-5 5,-5l14,0c2.762,0 5,2.239 5,5l0,14c0,2.761 -2.238,5 -5,5Zm-2.744,-5.148c0.215,0.153 0.491,0.191 0.738,0.097c0.246,-0.093 0.428,-0.304 0.483,-0.56c0.579,-2.722 1.985,-9.614 2.512,-12.09c0.039,-0.187 -0.027,-0.381 -0.173,-0.506c-0.147,-0.124 -0.351,-0.16 -0.532,-0.093c-2.795,1.034 -11.404,4.264 -14.923,5.567c-0.223,0.082 -0.368,0.297 -0.361,0.533c0.008,0.235 0.167,0.44 0.395,0.509c1.578,0.471 3.65,1.128 3.65,1.128c0,0 0.967,2.924 1.472,4.41c0.063,0.187 0.21,0.334 0.402,0.384c0.193,0.05 0.397,-0.002 0.541,-0.138c0.811,-0.765 2.064,-1.948 2.064,-1.948c0,0 2.381,1.746 3.732,2.707Zm-7.34,-5.784l1.119,3.692l0.249,-2.338c0,0 4.324,-3.9 6.79,-6.124c0.072,-0.065 0.082,-0.174 0.022,-0.251c-0.06,-0.077 -0.169,-0.095 -0.251,-0.043c-2.857,1.825 -7.929,5.064 -7.929,5.064Z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.ph:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' fill='rgb(255, 64, 0)' viewBox='0 0 24 24'%3E%3Cpath d='M14.89 23.654c-7.367 3.367-18.802-18.86-11.601-22.615l2.107-1.039 3.492 6.817-2.082 1.026c-2.189 1.174 2.37 10.08 4.609 8.994.091-.041 2.057-1.007 2.064-1.011l3.521 6.795c-.008.004-1.989.978-2.11 1.033zm-1.538-13.409l2.917.87c.223-.747.16-1.579-.24-2.317-.399-.739-1.062-1.247-1.808-1.469l-.869 2.916zm1.804-6.058c1.551.462 2.926 1.516 3.756 3.051.831 1.536.96 3.263.498 4.813l-1.795-.535c.325-1.091.233-2.306-.352-3.387-.583-1.081-1.551-1.822-2.643-2.146l.536-1.796zm.95-3.187c2.365.705 4.463 2.312 5.729 4.656 1.269 2.343 1.466 4.978.761 7.344l-1.84-.548c.564-1.895.406-4.006-.608-5.882-1.016-1.877-2.696-3.165-4.591-3.729l.549-1.841z'/%3E%3C/svg%3E");
    vertical-align: middle;
    padding-right: 0.25em;
}

.no-sel {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.footer {
    max-width: 100%;
    min-width: 15%;
    font-family: 'Noto Serif', serif;
    background-color: rgba(146, 168, 209, .7);
    overflow: hidden;
    text-align: center;
    padding: 1em;

}

.icons-link {
    margin-right: 0.5em;
    display: inline-block;
    width: 2em;
    height: 2em;
}

.icons {
    width: 2em;
    height: 2em;
    opacity: .5;
    fill: #577284;
}

.icons:hover {
    opacity: 1;
    transition: .3s;
}

.vko:hover #vko {
    fill: rgb(76, 117, 163);
    transition: .3s;
}

.you:hover #you {
    fill: rgb(196, 48, 43);
    transition: .3s;
}

.face:hover #face {
    fill: rgb(59, 89, 152);
    transition: .3s;
}

.lin:hover #lin {
    fill: rgb(14, 118, 168);
    transition: .3s;
}

.ins:hover #ins {
    fill: rgb(216, 0, 90);
    transition: .3s;
}

.tel:hover #tel {
    fill: rgb(0, 136, 204);
    transition: .3s;
}

.wha:hover #wha {
    fill: rgb(79, 206, 93);
    transition: .3s;
}

.pho {
    background-color: rgb(87, 114, 132);
    border-radius: 5px;
}

.pho:hover {
    background-color: rgba(87, 114, 132, .5);
    transition: .3s;
}

.pho #pho {
    fill: white;
}


.pho:hover #pho {
    fill: rgb(255, 64, 0);
    transition: .3s;
}

.ema:hover #ema {
    fill: rgb(178, 49, 33);
    transition: .3s;
}

.sky:hover #sky {
    fill: rgb(0, 175, 240);
    transition: .3s;
}

/*FOCUS*/
a.icons-link:focus svg {
    opacity: 1;
    transition: .3s;
}

a.icons-link:focus #vko {
    fill: rgb(76, 117, 163);
    transition: .3s;
}

a.icons-link:focus #you {
    fill: rgb(196, 48, 43);
    transition: .3s;
}

a.icons-link:focus #face {
    fill: rgb(59, 89, 152);
    transition: .3s;
}

a.icons-link:focus #lin {
    fill: rgb(14, 118, 168);
    transition: .3s;
}

a.icons-link:focus #ins {
    fill: rgb(216, 0, 90);
    transition: .3s;
}

a.icons-link:focus #tel {
    fill: rgb(0, 136, 204);
    transition: .3s;
}

a.icons-link:focus #wha {
    fill: rgb(79, 206, 93);
    transition: .3s;
}

a.icons-link:focus {
    background-color: rgba(87, 114, 132, .5);
    transition: .3s;
}

a.icons-link:focus #pho {
    fill: rgb(255, 64, 0);
    transition: .3s;
}

a.icons-link:focus #ema {
    fill: rgb(178, 49, 33);
    transition: .3s;
}

a.icons-link:focus #sky {
    fill: rgb(0, 175, 240);
    transition: .3s;
}

/*FOCUS*/

#social-icons {
    align-content: center;
    display: inline-block;
}

#social-icons-parent {
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav a {
        padding-top: 15px;
        font-size: 1.4em;
    }
}

@media \0screen\,screen\9 {
    .newjob {
        position: relative;
        text-indent: 0;
        padding: 0.5em;
    }

    .title {
        width: 25%;
        text-align: left;
        display: table-cell;
    }

    .newjobflex {
        display: table-row;
        flex-wrap: nowrap;
    }

    .explain {
        width: 75%;
        display: table-cell;
    }

    .head {
        font-weight: 600;
        text-align: center;
    }

    .content a.hidden {
        display: block;
    }

    #pp,
    #rdp,
    #virus,
    #time,
    #LVM {
        display: none;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal {
        width: 100%;
    }
}

@media only screen and (max-width: 1660px) {
    .stub {
        margin: 0;
    }
}

@media only screen and (max-width: 1390px) {

    #pp,
    #rdp,
    #virus,
    #time,
    #LVM,
    #cloud {
        width: 100%;
        height: 90vh;
        margin: 0 auto;
    }

    .content {
        font-size: 1.3em;
        max-width: 85%;
    }

    #myself {
        max-width: 20%;
    }

    .sidenav a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .casedescription {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1080px) {
    .content {
        font-size: 1.3em;
    }

    .content a.hidden {
        display: block;
    }

    #pp,
    #rdp,
    #virus,
    #time,
    #LVM,
    #cloud {
        display: none;
    }

    ul.skills {
        line-height: 1.3em;
    }

    .panel .skills {
        margin-left: -20px;
        padding: 0;
    }

    ul.skills li {
        padding-left: 20px;
        margin-left: 0px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li {
        padding-left: 20px;
        font-size: 1.3em;
        line-height: 1.3em;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    .content .in-content-ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3C/svg%3E");
    }

    .in-content-ul ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg height='.8em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    .stub {
        float: left;
        position: fixed;
        right: auto;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 10px;
        border: 3px solid #ff8000;
        margin-right: 1em;
        z-index: 1;
        width: 160px;
        font-size: 1.3em;
    }

    .stub:hover .pagenav {
        display: block;
        position: absolute;
        top: -800%;
        left: -3px;
        width: calc(100% + 6px);
    }

    .stub .pagenav {
        border-bottom: none;
        border-top: 3px solid #ff8000;
    }

    #myself {
        max-width: 25%;
    }

}

@media only screen and (max-width: 800px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        float: left;
        border: none;
        border-left: #fff705 1px solid;
        border-right: none;
        font-size: 1.4em;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    .sidenav a:first-child {
        border: none;
        border-left: #fff705 1px solid;
    }

    .main {
        margin-left: 0;
    }

    .sidenav a:last-child {
        border-right: #fff705 1px solid;
    }

    .content {
        max-width: 95%;
        font-size: 1.3em;
    }

    .stub {
        float: left;
        position: fixed;
        right: 0;
        left: auto;
        top: 37px;
        bottom: auto;
        padding: 10px;
        margin-right: 0em;
        z-index: 1;
        width: 160px;
    }

    .stub:hover .pagenav {
        display: block;
        position: absolute;
        top: -3px;
        left: -163px;
        border: 3px solid #ff8000;
    }

    .stub .pagenav {
        border-bottom: none;
        border-top: 3px solid #ff8000;
    }

    #myself {
        max-width: 30%;
    }

}

@media only screen and (max-width: 800px) {
    .sidenav {
        display: none;
    }

    .topnav,
    .topnav a {
        display: block;
    }
}

@media only screen and (max-width: 670px) {
    .pagetop {
        bottom: 3em;
        right: 1em;
        border-radius: 20px;
        padding: 0.4em;
        font-size: 1em;
        box-sizing: border-box;
    }

    #cloud {
        max-width: 70%;
        height: 25vh;
    }

    .stub {
        right: 0;
        left: auto;
        top: 0;
        bottom: auto;
    }

    .stub:hover .pagenav {
        display: block;
        position: absolute;
        top: 100%;
        left: -3px;
    }

    #myself {
        max-width: 35%;
    }
}

@media only screen and (max-width: 600px) {

    .pagetop {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .h1 {
        font-size: 1.7em;
        max-width: 100%;
    }

    .headline {
        max-width: 100%;
    }

    .title {
        width: 75%;
        text-align: left;
        margin: 0 auto;
    }

    .stub {
        display: none;
    }

    .explain {
        width: 100%;
    }

    .newjobflex {
        -webkit-display: block;
        flex-wrap: nowrap;
        display: block;
    }

    .head {
        display: none;
    }

    ul.skills li {
        padding-left: 20px;
        margin-left: 0px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.9em' height='1.2em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li {
        padding-left: 20px;
        font-size: 0.8em;
        line-height: 1.3em;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    ul.skills li ul.subskills li:hover {
        list-style-image: url("data:image/svg+xml,%3Csvg width='.8em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    .content .in-content-ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg width='.6em' height='1em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3C/svg%3E");
    }

    .in-content-ul ul li {
        padding-left: 20px;
        list-style-image: url("data:image/svg+xml,%3Csvg height='.6em' viewBox='0 0 16 16' fill='rgb(255, 115, 0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }

    #myself {
        max-width: 40%;
    }
}

@media only screen and (max-width: 400px) {
    .h1 {
        font-size: 1.4em;
        max-width: 100%;
    }

    .headline {
        font-size: 1.25em;
        max-width: 100%;
        width: 100%;
    }

    #cloud {
        max-width: 70%;
        height: 20vh;
    }

    .cloud-case {
        max-width: 100%;
        text-align: justify;
        margin: 0;
        padding: 0;
    }

    .cloud-case .casedescription {
        max-width: 100%;
        width: 100%;
    }

    #myself {
        max-width: 50%;
    }
}

@media only screen and (max-width: 370px) {
    .h1 {
        font-size: 1.2em;
        max-width: 100%;
    }

    .headline {
        font-size: 1em;
        max-width: 100%;
        width: 100%;
    }
}
