
.openbtn:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 255, 255)'%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3Cpath d='M3,18h13v-2H3V18z M3,13h10v-2H3V13z M3,6v2h13V6H3z M21,15.59L17.42,12L21,8.41L19.59,7l-5,5l5,5L21,15.59z'/%3E%3C/svg%3E");;
    vertical-align: middle;
    display: inline-block;
}
.openbtn {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(14 85 64);
    color: white;
    border: none;
    border-radius: 18px;
}

.openbtn:active {
    background-color: rgb(128 165 154);
}

.openbtn:hover {
    background-color: rgb(49 109 91);
}

.sidebar .closebtn {
    position: absolute;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 12px;
    width: 250px;
}

.sidebar .closebtn:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 255, 255)'%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3Cpath d='M3,18h13v-2H3V18z M3,13h10v-2H3V13z M3,6v2h13V6H3z M21,15.59L17.42,12L21,8.41L19.59,7l-5,5l5,5L21,15.59z'/%3E%3C/svg%3E");;
    vertical-align: middle;
    display: inline-block;
}

/* Style the list */
ul.breadcrumb {
    font-family: 'Roboto', sans-serif;
    padding: 12px 18px;
    list-style: none;
    background-color: rgb(14 85 64);    
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 24px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #fff;
    text-decoration: underline;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: none;
    color: #cccccc;
}

ul.breadcrumb li a:focus {
    text-decoration: none;
}

ul.breadcrumb li a:active {
    color: #fff;
    text-decoration: underline;
}

/** SIDEBAR **/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(14 85 64);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: rgb(49 109 91);
}

.sidebar a:active {
    background-color: rgb(128 165 154);
}

.sidebar a.current {
   background-color: rgb(31 97 77); 
}


@media only screen and (max-width: 800px) {
   /* КАК ОТОБРАЖАТЬ МЕНЮ НА УЗКИХ ЭКРАНАХ? */

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  
}

